.modal-content {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 400px;

  &-text {
    margin: 0;
    width: 300px;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.cat-name {
  font-weight: 700;
  margin-left: 1px;
  margin-right: 1px;
}
