.menu {
  height: 100%;

  &-controls {
    display: flex;
    gap: 8px;
    justify-content: center;
    height: 100%;

    @media only screen and (max-width: 600px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &-button {
    &-icon {
      display: block;
      height: 28px;
      transition: var(--transition);
      width: 28px;

      &.move {
        @media only screen and (max-width: 600px) {
          transform: rotate(90deg);
        }

        &.back {
          transform: scale(-1, 1);

          @media only screen and (max-width: 600px) {
            transform: rotate(90deg) scale(-1, 1);
          }
        }
      }
    }
  }
}
