.bed {
  background: white url("./../../assets/img/bed.png") no-repeat;
  background-size: contain;
  height: var(--container-size);
  margin: 0 auto;
  position: relative;
  width: var(--container-size);
}
