<div class="profile" *ngIf="selected">
  <div class="profile-icon">
    <cat-icon [cat]="selected"></cat-icon>
    <app-profile-emotion [mood]="selected.mood"></app-profile-emotion>
  </div>
  <div class="profile-content">
    <p class="profile-content-line">Name: {{ selected.name }}</p>
    <p class="profile-content-line">Breed: {{ breedName }}</p>
    <p class="profile-content-line">Moved: {{ selected.movedTimes }} times</p>
  </div>
  <app-profile-feed
    class="profile-feed"
    [selected]="selected"
  ></app-profile-feed>
</div>
