.cat {
  box-shadow: var(--box-shadow);
  cursor: pointer;
  outline: var(--white) solid 3px;
  position: relative;

  &.selected {
    outline-color: var(--secondary);
  }

  &-mood {
    background-color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    &.hunger {
      background-color: rgba(200, 0, 0, 0.2);
    }

    &.starving {
      background-color: rgba(200, 0, 0, 0.4);
    }
  }
}
